@use "../assets/scss/variables" as var;

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.arrow-up {
  color: white;
  position: fixed;
  bottom: -40px;
  right: 41%;
  cursor: pointer;
  height: 80px;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  font-size: 1.8rem;
  width: 70px;
  padding: 10px 20px;
  background-color: var.$background-color;
  transition: 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
}

@include var.media-query(var.$breakpoint-medium) {
  .arrow-up {
    right: 48%;
  }
}
