<section>
  <h3>Sobre nosotros</h3>
  <div class="flex">
    <div class="lottie">
      <ng-lottie [options]="options" [styles]="styles"></ng-lottie>
    </div>
    <div class="paragraph">
      <p>
        Descubre el poder transformador de Eidos Consultores, marca homologada
        por Avante. Nuestro equipo de
        <strong>expertos en marketing digital</strong> y tecnología está aquí
        para impulsar tu éxito. Nos enfocamos en ayudar a las
        <strong>pymes y autónomos</strong> a innovar y adaptar sus estrategias
        comerciales y de ventas a las nuevas formas de hacer negocios en el
        mundo actual.
      </p>
      <p>
        Trabajamos de cerca contigo,para comprender tus necesidades y ofrecerte
        <strong>soluciones personalizadas</strong>. Nuestra misión es ayudar a
        nuestros clientes a que ahorren tiempo y dinero en sus proyectos,
        permitiéndoles aumentar sus ventas mientras optimizan recursos y
        <strong>minimizan costes</strong>.
      </p>
      <p>
        En Eidos Consultores, no esperamos pasivamente a que las cosas sucedan.
        Nos enfocamos en buscar caminos en lugar de excusas. Diseñando
        estrategias, <strong> aplicando nuestra metodología</strong> y con
        perseverancia, te guiaremos hacia el éxito y haremos que el mundo
        descubra tu potencial.
      </p>
    </div>
  </div>
</section>
